<%= form_with(model: question.persisted? ? question : [question.quiz, question], data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="max-w-md mx-auto">

    <%= form.label :question_text, "Question:", class: "block font-medium text-lg"%>
    <%= form.text_field :question_text, class: "input input-bordered w-full mt-1", autofocus: true %> <br> <br>

    <button type="button" data-action="nested-form#add" class="btn btn-primary btn-sm">Add answer</button>

    <%= form.fields_for :answers do |ff| %>
        <%= render 'answer_form', form: ff %>
    <% end %>

    <template data-nested-form-target="template">
      <%= form.fields_for :answers, Answer.new, child_index: 'NEW_RECORD' do |answer_fields| %>
        <%= render "answer_form", form: answer_fields %>
      <% end %>
    </template>

    <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target"></div>

    <div>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
