<%= form_with(model: [question.quiz, question]) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :question_text, "JautÄjums:", style: "display: block" %>
    <%= form.text_field :question_text %> <br> <br>

    <%
=begin%>
 <% question.answers.each_with_index do |answer, index| %>
      <%= form.text_field "answer#{index}" %> <br>
    <% end %> 
<%
=end%>
  </div>

  <%= form.fields_for :answers do |ff| %>
      <li>
        <%= ff.label :answer_text %>
        <%= ff.text_field :answer_text %>
        <%= ff.check_box :correct %>
      </li>
  <% end %>

  <div>
    <%= form.submit class: btn_class %>
    <%= form.submit :add_answer, class: btn_class %>
  </div>
<% end %>
