<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col max-w-sm mx-auto">
    <div class="mb-4">
      <%= form.label :title, "Quiz title", class: "block font-medium text-md" %> 
      <%= form.text_field :title, class: "input input-bordered w-full mt-1", autofocus: true %>
    </div>

    <div class="mb-4">
      <%= form.label :description, "Description", class: "block font-medium text-md"%>
      <%= form.text_area :description, class: "textarea textarea-bordered w-full mt-1" %>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="mb-4 text-center">
      <%= form.submit class: btn_class %>
    </div>
  </div>
<% end %>
