<tr class="hover">
<td><%= quiz.title %></td>
<td><%= quiz.description.truncate(30) %></td>
<td><%= format_date quiz.created_at %></td>
<td><%= quiz.user.username.blank? ? "No name" : quiz.user.username %></td>
<% if user_signed_in? && quiz.user == current_user%>
<td><%= link_to("Edit", quiz, class: "btn btn-secondary btn-xs") %></td>
<td><%= link_to("Open", start_quiz_path(quiz.id), class: "btn btn-secondary btn-xs") %></td>
<% else %>
<td></td>
<td><%= link_to("Open", start_quiz_path(quiz.id), class: "btn btn-secondary btn-xs") %></td>
<% end %>
</tr>
