<h1><%= @title %></h1>
<h1><%= @description %></h1>

<% if user_signed_in? %> 
 <div> Welcome <%= current_user.username.blank? ? current_user.email : current_user.username %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: btn_class %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path, class: btn_class %> 
<% end %>

<div class="overflow-x-auto">
  <table id="quizzes" class="min-w-full divide-y-2 divide-zinc-950 bg-transparent text-sm">
    <thead class="text-left">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-semibold text-gray-900">ID</th>
        <th class="whitespace-nowrap px-4 py-2 font-semibold text-gray-900">Nosaukums</th>
        <th class="whitespace-nowrap px-4 py-2 font-semibold text-gray-900">Apraksts</th>
        <th class="whitespace-nowrap px-4 py-2 font-semibold text-gray-900">Izveidots</th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-zinc-950">
      <%= render partial: 'quiz_row', collection: @quizzes, as: :quiz %>
    </tbody>
  </table>
</div>
<%= link_to "New quiz", new_quiz_path, class: btn_class %>
