<h1><%= @title %></h1>
<h1><%= @description %></h1>

<% if user_signed_in? %> 
 <div> Welcome <%= current_user.username.blank? ? current_user.email : current_user.username %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: btn_class %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path, class: btn_class %> 
<% end %>

<div class="overflow-x-auto">
  <table id="quizzes" class="table">
    <thead class="text-left">
      <tr>
        <th>ID</th>
        <th>Nosaukums</th>
        <th>Apraksts</th>
        <th>Izveidots</th>
        <th>Autors</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'quiz_row', collection: @quizzes, as: :quiz %>
    </tbody>
  </table>
</div>
<%= link_to "New quiz", new_quiz_path, class: btn_class %>
