<div data-controller="visibility">
    <p>You earned <%= @score %> points out of <%= @total %> points!</p>
    <% @quiz.questions.each do |question| %>
        <p><strong><%= question.question_text %></strong></p>
        <% question.answers.each do |answer| %>
            <p>
                <span data-visibility-target="hideable" hidden><%= answer.correct ? "patiess: " : "nepatiess: " %></span><%= answer.answer_text %>
            </p>
            <p>
                <span data-visibility-target="hideable" hidden><%= answer.user_scores.where(user_id: current_user.id).last.user_answer == answer.correct ? "pareizi " : "nepareizi " %></span>
            </p>
        <% end %>
    <% end %>
    <button data-action="visibility#showTargets" class="<%=btn_class%>">
    Par훮d카t atbildes</button>
    <%= link_to "Back to quizzes", quizzes_path, class: btn_class %>
    <%= link_to "Do it again", start_quiz_path(@quiz), class: btn_class%>


    <table class="table">
        <thead>
            <tr>
                <th>Vieta</th>
                <th>V훮rds</th>
                <th>Ieg큰tie punkti</th>
            </tr>
        </thead>
        <tbody>
            <% @quiz.total_scores.each_with_index do |score, index|%>
                <% break if index == 10%>
                <tr class="hover">
                <td><%= index + 1 %></td>
                <td><%= score.user.username %></td>
                <td><%= score.score %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>