<h1><%= @title %></h1>
<h1><%= @description %></h1>
<div data-controller="visibility">
    <%= form_with model: @question, url: check_quiz_path(@quiz) do |form| %>
        <% @quiz.questions.each do |question| %>
            <p><strong><%= question.question_text %></strong></p>
            <% question.answers.each do |answer| %>
                <p>
                    <%= form.check_box "answers[#{question.id}][#{answer.id}]", autocomplete: "off" %>
                    <%= form.label :"answers[#{question.id}][#{answer.id}]", answer.answer_text %>
                </p>
            <% end %>
        <% end %>
        
        <%= form.submit "Save your answers", class: btn_class %>
        <%= link_to "Back to quizzes", quizzes_path, class: btn_class %>
    <% end %>
</div>