<!DOCTYPE html>
<html>
  <head>
    <title>DagQuickQuiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <div class="navbar bg-neutral">
    <%= link_to "All quizzes", quizzes_path, class: "btn btn-ghost text-xl" %>
    <% if user_signed_in? %>
      <%= link_to "My quizzes", my_quizzes_user_path(current_user), class: "btn btn-ghost text-xl" %>
    <% end %>
  </div>
  <div class="container mx-auto p-2">
    <%= render 'layouts/notice' %>
    <%= yield %>
  </div>
  </body>
</html>
